{# MP - 25.12.15 #}
{% extends "AdminBundle::Layout/adminlayout.html.twig" %}
{% block title %}Organization{% endblock %}
{% block css %}
	
{% endblock %}
{% block content %}
	<section class="content-header">
		<h1>
		 Add- Update Organization
		  <small></small>
		</h1>
		<ol class="breadcrumb">
		  <li><a href="{{path('admin_dashboard_index')}}"><i class="fa fa-dashboard"></i> Dashboard</a></li>
		  <li><a href="{{path('admin_organization_index')}}"></i>Organization list</a></li>
		  <li class="active">Add- Update Organization</li>
		</ol>
	  </section>
	<section class="content">
	<div class="row">
		<div class="col-xs-12">
				{% for flashMessage in app.session.flashbag.get('success_msg') %}
						<div role="alert" class="alert alert-success alert-dismissible fade in">
						  <button aria-label="Close" data-dismiss="alert" class="close" type="button"><span aria-hidden="true">×</span></button>
						  <strong>Alert!</strong>&nbsp; {{ flashMessage }}
					</div>
				{% endfor %}
				{% for flashMessage in app.session.flashbag.get('error_msg') %}
						<div role="alert" class="alert alert-danger alert-dismissible fade in">
						  <button aria-label="Close" data-dismiss="alert" class="close" type="button"><span aria-hidden="true">×</span></button>
						  <strong>Alert!</strong>&nbsp; {{ flashMessage }}
						</div>
				{% endfor %}
				<div class="box box-solid">
					{#<div class="box-header">
						<h3 class="box-title">{% if organization is defined %}Update Organization{%else%}Create Organization{%endif%}</h3>
					</div>#}
				<div class="box-body">
					 <div class="nav-tabs-custom">
                        <ul class="nav nav-tabs">
							{% if language is defined %}
								{% for lang in language %}
									<li {% if (lang.language_id) == 1 %}class="active"{% endif %}><a href="#tab_{{loop.index}}" data-toggle="tab">{{lang.lang_name}}</a></li>
								{% endfor %}
							{% endif %}
						</ul>
					</div>
				 <div class="tab-content">
					{% if language is defined %}
						{% for lang in language %}
       						<div {% if (lang.language_id) == 1 %} class="tab-pane active" {% else %} class="tab-pane " {% endif %} id="tab_{{loop.index}}">
								    {% set mobile_no = 0 %}
									{% set website = "" %}
									{% set lat = 0 %}
									{% set lng = 0 %}
									{% set main_organization_master_id = 0 %}
									{% if organization is defined and organization is not empty %}
										{% for organization in organization %}
											{% set mobile_no = organization.mobile %}
											{% set website = organization.website %}
											{% set lat = organization.location_lat %}
											{% set lng = organization.location_long %}
											{% set main_organization_master_id = organization.main_organization_master_id %}
										{%endfor%}
									{%endif%}
								<form class="form-horizontal style-form" enctype="multipart/form-data" method="post" id="org_{{lang.language_id}}" action="{% if organization is defined and organization is not empty %}{{path('admin_organization_updateorganization',{main_organization_master_id:main_organization_master_id})}}{%else%}{{path('admin_organization_saveorganization')}}{%endif%}">
									<br/>
									<div class="row">
										<div class="form-group">
											<label class="col-sm-2 control-label">Organization Name</label>
											<div class="col-sm-3">
												<input type="text" name="organization_name" class="form-control" placeholder="Organization Name" title="Organization Name"
													   value="{% if organization is defined and organization is not empty %}{% for organization in organization %}{% if (organization.language_id) == (lang.language_id) %}{{organization.organization_name}}{%endif%}{%endfor%}{%endif%}" />
											</div>
											<label class="col-sm-2 control-label">Mobile No</label>
											<div class="col-sm-3">
												<input type="number" name="mobile_no" class="form-control" placeholder="Mobile No" title="Mobile No" value="{{mobile_no}}" />
											</div>
										</div>
									</div>
									<div class="row">
										<div class="form-group">
											<label class="col-sm-2 control-label">Website Link</label>
											<div class="col-sm-3">
												<input type="url" name="website_link" class="form-control" placeholder="Website Link" title="Website Link" value="{{website}}" />
											</div>
											<label class="col-sm-2 control-label">Organization Logo</label>
											<div class="col-sm-3">
												<input type="file" name="organization_logo" value="" />
											</div>
										</div>
									</div>
									{% if organization is defined and organization is not empty %}
										{% if media is defined and media is not empty %}
											<div class="row">
												<div class="col-xs-2">
													<div class="thumbnail">
														<img src="{{asset(media.media_location~media.media_filename)}}" />
													</div>
												</div>
											</div>
										{% endif %}
									{% endif%}
									<div class="row">
										<div class="form-group">
											<label class="col-sm-2 control-label">Organization Detail</label>
											<div class="col-sm-8">
												<textarea class="form-control" name="organization_detail" placeholder="Organization Detail">{% if organization is defined and organization is not empty %}{% for organization in organization %}{% if (organization.language_id) == (lang.language_id) %}{{organization.organization_detail}}{%endif%}{%endfor%}{%endif%}</textarea>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="form-group">
											<label class="col-sm-2 control-label">Latitude</label>
											<div class="col-sm-3">
												<input type="text" name="lat" class="form-control" placeholder="Latitude" title="Latitude" value="{{lat}}"/>
											</div>
											<label class="col-sm-2 control-label">Longitude</label>
											<div class="col-sm-3">
												<input type="text" name="lng" class="form-control" placeholder="Longitude" title="Longitude" value="{{lng}}"/>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="form-group">
											<label class="col-sm-2 control-label">Bank Name</label>
											<div class="col-sm-3">
												<input type="text" name="bank_name" class="form-control" placeholder="Bank Name" title="Bank Name" value="{% if organization is defined and organization is not empty %}{% for organization in organization %}{% if (organization.language_id) == (lang.language_id) %}{{organization.bank_detail}}{%endif%}{%endfor%}{%endif%}" />
											</div>
											<label class="col-sm-2 control-label">Status</label>
											<div class="col-sm-4">
												<div class="radio-inline">
													<label>
														<input type="radio" name="status" value="active" {% if organization is defined and organization is not empty %}{% for organization in organization %}{% if (organization.status) == "active" %}checked="checked"{% endif%}{%endfor%}{%endif%}/>Active
													</label>
												</div>
												<div class="radio-inline">
													<label>
														<input type="radio" name="status" value="inactive" {% if organization is defined and organization is not empty %}{% for organization in organization %}{% if (organization.status) == "inactive" %}checked="checked"{%endif%}{%endfor%}{%endif%} />Inactive
													</label>
												</div>
											</div>
										</div>
									</div>
									<div class="row" id="social">
										{% if organization is defined and organization is not empty %}
											{% if social_link is defined and social_link is not empty %}
												{% for social_link in social_link %}
													{% if (social_link.language_id) == (lang.language_id) %}
														<div class="form-group">
															<label class="col-sm-2 control-label">Social Name</label>
															<div class="col-sm-3">
																<input type="text" name="social_name[]" class="form-control" placeholder="Social Name" title="Social Name" value="{{social_link.name}}" />
															</div>
															<label class="col-sm-2 control-label">Social Link</label>
															<div class="col-sm-3">
																<input type="text" name="social_link[]" class="form-control" placeholder="Social Link" title="Social Link" value="{{social_link.link}}" />
															</div>
															{% if (loop.index) == 1 %}
																<div class="col-xs-1">
																	<a role="button" class="btn btn-primary btn-sm" id="addsocialrow"><i class="fa fa-plus"></i></a>
																</div>
															{%else%}
																<div class="col-xs-1">
																	<a role="button" class="btn btn-primary btn-xs" id="addsocialrow"><i class="fa fa-plus"></i></a>
																	<a class="btn btn-danger btn-xs grid-delete deletebtn" title="Delete" onclick="deleterow(this)"><i class="fa fa-remove"></i></a>
																</div>
															{%endif%}
														</div>
														{%endif%}
												{% endfor %}
											{%endif%}
										{%else%}
											<div class="form-group">
												<label class="col-sm-2 control-label">Social Name</label>
												<div class="col-sm-3">
													<input type="text" name="social_name[]" class="form-control" placeholder="Social Name" title="Social Name" value="" />
												</div>
												<label class="col-sm-2 control-label">Social Link</label>
												<div class="col-sm-3">
													<input type="text" name="social_link[]" class="form-control" placeholder="Social Link" title="Social Link" value="" />
												</div>
												<div class="col-xs-1">
													<a role="button" class="btn btn-primary btn-xs" id="addsocialrow"><i class="fa fa-plus"></i></a>
												</div>
											</div>
										{%endif%}
									</div>
									<div class="row">
										<div class="form-group">
											<div class="col-sm-12">
												<div class="col-xs-2 pull-left">
													<a href="{{path('admin_organization_index')}}"  class="btn btn-danger btn-flat">Cancel</a>
												</div>
												<div class="col-xs-2 pull-right">
													<button type="submit" class="btn btn-primary btn-flat" title="save" name="save" value="{{lang.language_id}}">{% if organization is defined and organization is not empty %}Update{%else%}Save{%endif%}</button>
												</div>
											</div>
										</div>
									</div>
								</form>
							</div>
						{% endfor %}
					{% endif %}
				</div>
				</div>
			</div>
		</div>
	</div>
	</section>
{% endblock %}
{% block js %}
<script type="text/javascript" src="{{asset('bundles/design')}}/tinymce/tinymce.min.js"></script>
<script type="text/javascript">
			tinymce.init({
				selector:'textarea',
				theme: "modern",
				plugins: [
					"advlist autolink lists link image charmap print preview hr anchor pagebreak",
					"searchreplace wordcount visualblocks visualchars code ",
					"insertdatetime media nonbreaking save table contextmenu directionality",
					"emoticons template paste textcolor colorpicker textpattern imagetools"
				],
				toolbar1: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent ",
				toolbar2: " link image print preview media | forecolor backcolor emoticons",
				image_advtab: true
			});
</script>
<script src="{{asset('bundles/design/')}}js/jquery.validate.min.js" type="text/javascript"></script>
<script>
$(function() {
	{% if language is defined %}
		{% for lang in language %}
			// Setup form validation on the #register-form element
			$("#org_{{lang.language_id}}").validate({
			
				// Specify the validation rules
				rules: {
					organization_name: "required",
					lat: {
						 required : true,
                         min: -90,
						 max:90,
						},
					lng: {
						 required : true,
                         min: -180,
						 max:180,
						},
					mobile_no{
						required:true,
						min:9,
						max:10,
						number: true
					}
					status:"required",
					{% if organization is not defined %}
						organization_logo: "required",
					{% endif%}
				},
				
				// Specify the validation error messages
				messages: {
					organization_name: "Please enter your Organization name",
					lat: "Please enter Latitude",
					lng: "Please enter Longitude",
					status:"Please select the Status",
					mobile_no:"Please enter correct Mobile Number"
					{% if organization is not defined %}
						organization_logo: "Please select the Organization logo",
					{% endif%}
				},
				
				submitHandler: function(form) {
					form.submit();
				}
			});
		{% endfor %}
	{% endif %}	
});
</script>
<script type="text/javascript">
	$(document).ready(function(){	
		$('#addsocialrow').click(function (){
			//alert("click btn");
			var html ="";
			html +='<div class="form-group social_list">';
			html +='<label class="col-sm-2 control-label">Social Name</label>';
			html +='<div class="col-sm-3">';
			html +='<input type="text" name="social_name[]" class="form-control" placeholder="Social Name" title="Social Name" value="" />';
			html +='</div>';
			html +='<label class="col-sm-2 control-label">Social Link</label>';
			html +='<div class="col-sm-3">';
			html +='<input type="text" name="social_link[]" class="form-control" placeholder="Social Link" title="Social Link" value="" />';
			html +='</div>'
			html +='<div class="col-xs-2">';
			//html +='<a role="button" class="btn btn-primary btn-sm" id="addsocialrow"><i class="fa fa-plus"></i></a>';
			html +='<a class="btn btn-danger btn-sm grid-delete deletebtn" title="Delete" onclick="deleterow(this)"><i class="fa fa-remove"></i></a>';
			html +='</div>';
			html +='</div>';
			
			$('#social').append(html);
		});
		
	});
	function deleterow(val) {
		$(val).closest('.social_list').remove();
    }
</script>
{% endblock %}