{% extends "AdminBundle::Layout/adminlayout.html.twig" %}
{% block title %} Category List {% endblock %}
{% block css %}
	
{% endblock %}
{% block content %}
	  
	<section class="content-header" style="padding: 26px 16px 0px 0px;">
		  <small></small>

		<ol class="breadcrumb">
		  <li><a href="{{path('admin_dashboard_index',{'domain':app.session.get('domain')})}}"><i class="fa fa-dashboard"></i>Dashboard</a></li>
		  <li class="active">Category List</li>
		</ol>
	  </section>
	  <section class="content">
		<div class ="row">
			<div class="col-md-12">
			{% for flashMessage in app.session.flashbag.get('success_msg') %}
			  <div class="alert alert-success alert-dismissable">
				  <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
				  <h4><i class="icon fa fa-check"></i> Alert!</h4>{{ flashMessage }}
			  </div>
			  {% endfor %}
			  {% for flashMessage in app.session.flashbag.get('error_msg') %}
			  <div class="alert alert-danger alert-dismissable">
				  <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
				  <h4><i class="icon fa fa-check"></i> Alert!</h4>{{ flashMessage }}
			  </div>
			{% endfor %}
			</div>  
		</div>	
		<div class="row">
			<div class="col-xs-12">
                <div class="box box-solid">
                    <div class="box-header with-border">
                      <h3 class="box-title">Category List</h3>
                      <div class="pull-right">
                        <a href="{{path('admin_category_addcategory',{'domain':app.session.get('domain')})}}" class="btn btn-primary btn-flat"><i class="fa fa-plus"></i>&nbsp;&nbsp;ADD</a>
                      </div>
                    </div>
                    <div class="box-body">
                        <div class="container-fluid table-responsive">
							<table id="example1" class="table table-bordered table-striped text-center">
								<thead>
									
									<th>Name</th>
                                    <th>Description</th>
                                    <th>Parent Category</th>
                                    <th>Action</th>
								</thead>
								<tbody>
									{% if all_category is defined and all_category is not empty %}
										  {%for category in all_category %}
											 <tr>
												<td>{{category.course_category_name}}</td>
												<td>{{category.course_category_description}}</td>
												<td>{{category.course_parent_category_name}}</td>
												<td>
													  <a onclick="return confirm('Are you sure?')" class="btn btn-warning btn-xs" href="{{path('admin_category_addcategory',{'domain':app.session.get('domain')})}}/{{category.main_course_category_id}}" data-toggle="tooltip" data-original-title="Edit"><span class="fa fa-edit"></span></a>
													  <a onclick="return confirm('Are you sure?')" class="btn btn-danger btn-xs" href="{{path('admin_category_deletecategory',{'domain':app.session.get('domain')})}}/{{category.main_course_category_id}}" data-toggle="tooltip" data-original-title="Delete"><span class="fa fa-remove"></span></a>
												</td>
											 </tr>	
										  {% endfor %}
									{% endif %}
								</tbody>
								<tfoot>
									
									<th>Name</th>
                                    <th>Description</th>
                                    <th>Parent Category</th>
                                    <th>Action</th>
								</tfoot>
							</table>
						</div>

                    </div>
                  </div>
            </div>
		</div>
	  </section>
{% endblock %}

{% block js %}
<script>
$(document).ready(function() {
    $('#example1').DataTable( {
        dom: 'Bfrtip',
        buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print'
        ]
    } );
} );
</script>
{% endblock %}