{% extends "AdminBundle::Layout/adminlayout.html.twig" %}
{% block title %} Send push notification  {% endblock %}
{% block css %}
	
{% endblock %}
{% block content %}
	<section class="content-header">
		<h1>
            Send push notification
		  <small></small>
		</h1>
		<ol class="breadcrumb">
		  <li><a href="{{path('admin_dashboard_index',{'domain':app.session.get('domain')})}}"><i class="fa fa-dashboard"></i>Dashboard</a></li>
          <li><a href="{{path('admin_pushnotification_index',{'domain':app.session.get('domain')})}}"></i>Push notification list</a></li> 
		  <li class="active">Send push notification</li>
		</ol>
		
	  </section>
	
		<section class="content">
		{% for flashMessage in app.session.flashbag.get('success_msg') %}
			<div role="alert" class="alert alert-success alert-dismissible fade in">
				<button aria-label="Close" data-dismiss="alert" class="close" type="button"><span aria-hidden="true">×</span></button>
				<strong>Alert!</strong>&nbsp; {{ flashMessage }}
			</div>
		{% endfor %}
		{% for flashMessage in app.session.flashbag.get('error_msg') %}
			<div role="alert" class="alert alert-danger alert-dismissible fade in">
				<button aria-label="Close" data-dismiss="alert" class="close" type="button"><span aria-hidden="true">×</span></button>
				<strong>Alert!</strong>&nbsp; {{ flashMessage }}
			</div>
		{% endfor %}
		
		<div class="row">
			<div class="col-xs-12">
                <div class="box box-solid">
                    <form class="form-horizontal" action="{{path('admin_pushnotification_sendnotification',{'domain':app.session.get('domain')})}}" method="post" enctype="multipart/form-data">
                        
                        <div class="box-body">
                            <div class="form-group">
                              <label class="col-sm-2 control-label">Notification Type</label>
                              <div class="col-sm-4">
                                <select required class="form-control" name="notification_type" id="notification_type" onchange="show_hide();">
									<option value="">Select Notification Type</option>
									<option value="general">General</option>
									{% if app.session.get('domain_id') != "farmpik001" %}
										<option value="healthtip">Health Tips</option>
									{% endif %}
									{% if app.session.get('domain_id') != "fortune001" %}
										<option value="app_alert">App Alert</option>
									{% endif %}
								</select>
                              </div>
                           
                              <label class="col-sm-2 control-label">Notification title</label>
                              <div class="col-sm-4">
                                <input type="text" name="note_title" class="form-control input-sm" placeholder="Title" value="">
                              </div>
                            </div>
                            <div class="form-group">
                              <label class="col-sm-2 control-label">Notification message</label>
                              <div class="col-sm-6">
                                <textarea name="note_message" placeholder="Message" class="form-control"></textarea>
                              </div>
                            </div>
							<div class="form-group" id="image-div">
								<label class="col-sm-2 control-label">Image</label>
									<div class="col-sm-6">
										<input type="file" name="image" class="">
											
										<p class="help-block">Max image resolution is <b>512 X 512</b> and size will be <b>10 Kb</b> allowed</p>
									</div>
							</div>
                             <div class="form-group">
                              <label class="col-sm-2 control-label">Send to</label>
                              <div class="col-sm-4">
                                <select name="send_to" id="send_to" class="form-control" onchange="getuser(this.value);">
                                    <option value=""> -- Select -- </option>
                                    <option value="CUST">Customer</option>
                                    {% if app.session.get('domain_id') != "fortune001" %} <option value="DEL">Delivery Boy</option> {% endif %}
                                </select>
                              </div>
                           
                              <label class="col-sm-2 control-label">City</label>
                              <div class="col-sm-4">
                                <select class="form-control" name="main_city_id" onchange="getusercity(this.value);">
											<option value="">Select City</option>
											{% if city_list is defined and city_list is not empty %}
												{% for city in city_list %}
														<option value="{{city.main_city_id}}">{{city.city_name}}</option>
												{% endfor %}
											{% endif %}
								</select>
                              </div>
                            </div>
                            {# <div class="form-group hide">
                              <label class="col-sm-2 control-label">&nbsp;</label>
                              <div class="col-sm-3">
                                    <input type="checkbox" name="sendall" id="sendall" class="" value="0" checked="checked"> Send to all
                              </div>
                            </div>#}
							 
							 
							 
							<div class="form-group hide" id="userbox">
								{#<label class="col-sm-2 control-label">&nbsp;</label> 
								<div class="col-md-6">
									<div class="box box-success box-solid">
										<div class="box-header with-border">
											<h3 class="box-title">Users list</h3>
											<input type="button" class="btn btn-success show pull-right" id="checkal" onclick="checkall();" value="Check All">
										</div>
										<div class="box-body" id="userlistbox">
											
											
										</div>
									</div>
								</div>#}
							</div>
							 
							 
							 
							 

                        </div>
                      
                      <div class="box-footer">
                        <a href="{{path('admin_pushnotification_index',{'domain':app.session.get('domain')})}}" class="btn btn-default btn-flat">Cancel</a>
                            <button type="submit" class="btn btn-info pull-right btn-flat" name="send_notification" value="send_notification">Send</button>
                      </div>
                    </form>
                </div>
            </div>
		</div>
	  </section>
{% endblock %}

{% block js %}
<script>
function show_hide() {
    var selected_id = $('#notification_type').val();	
	if (selected_id == 'app_alert') {
        $('#image-div').addClass('hide').removeClass('show');
    }
	else{
		$('#image-div').addClass('show').removeClass('hide');
	}
}
function getuser(user_type)
{
	if (user_type != "") {
		$.ajax({
			type: 'POST',
			url : "{{path('admin_pushnotification_getuserlist',{'domain':app.session.get('domain')})}}",
			data: {'user_type':user_type,'flag':'getuser'},
			success: function(response){
				if (response) {
					$("#userbox").html(response); 
                    $("#userbox").removeClass("hide");
                }
			}
		});	
    }else{
		$("#userbox").addClass("hide");
	}
}

function getusercity(city_id)
{
	user_type = $('#send_to').val();
	if (user_type == "") {
		alert('please select send to');
		return false;
        //code
    }
	
		$.ajax({
			type: 'POST',
			url : "{{path('admin_pushnotification_getuserlist',{'domain':app.session.get('domain')})}}",
			data: {'user_type':user_type,'flag':'getuser','city_id':city_id},
			success: function(response){
				if (response) {
					$("#userbox").html(response); 
                    $("#userbox").removeClass("hide");
                }
			}
		});	
}



$(document).ready(function() {
    $('#example1').DataTable();
} );





</script>
{% endblock %}