{% extends "AdminBundle::Layout/adminlayout.html.twig" %}
{% block title %} Customer list {% endblock %}
{% block css %}
	
{% endblock %}
{% block content %}
	<section class="content-header">
		<h1>
            Customer List
		  <small></small>
		</h1>
		<ol class="breadcrumb">
		  <li><a href="{{path('admin_dashboard_index',{'domain':app.session.get('domain')})}}"><i class="fa fa-dashboard"></i>Dashboard</a></li>
		  <li class="active">Customer List</li>
		</ol>
	  </section>
	  <section class="content">
		<div class="row">
			<div class="col-xs-12">
                <div class="box box-solid">
                    <div class="box-header with-border">
                      {#<h3 class="box-title">Progress Bars Different Sizes</h3>#}
                      <!--<div class="pull-right">
                        <a href="{{path('admin_deliverymanager_createdeliverymanager',{'domain':app.session.get('domain')})}}" class="btn btn-primary btn-flat"><i class="fa fa-plus"></i>&nbsp;&nbsp;CREATE</a>
                      </div>-->
                    </div>
                    <div class="box-body">
                        <div class="container-fluid table-responsive">
							<table id="example1" class="table table-bordered table-striped text-center">
								<thead>
									<th>No.</th>
                                    <th>Name</th>
									<th>Username</th>
									<th>Mobile Number</th>
									<th>Status</th>
								</thead>
								<tbody>
                                    {% if deliverymanager_list is defined and deliverymanager_list is not empty %}
                                        {% for del in deliverymanager_list %}
                                        <tr>
                                            <td>{{loop.index}}</td>
                                            <td>{{del.user_firstname}} {{del.user_lastname}}</td>
                                            <td>{{del.username}}</td>
                                            <td>{{del.user_emailid}}</td>
                                            <td>
                                               
                                            </td>
                                            <td>{{del.user_status}}</td>
                                        </tr>
                                        {% endfor %}
                                    {% endif %}

								</tbody>
								<tfoot>
									<th>No.</th>
                                    <th>Name</th>
									<th>Username</th>
									<th>Mobile Number</th>
									<th>Status</th>
								</tfoot>
							</table>
						</div>

                    </div>
                  </div>
            </div>
		</div>
	  </section>
{% endblock %}

{% block js %}
<script>
$(document).ready(function() {
    $('#example1').DataTable( {
        dom: 'Bfrtip',
        buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print'
        ]
    } );
} );
</script>
{% endblock %}