  <!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
	<link href="{{asset('bundles/design/')}}/images/favicon.png" rel="shortcut icon">
	{% if app.session.get('role_id') != 1 %}
		{% if app.session.get('domain_logo_id') != "" and  app.session.get('domain_logo_id') != 0 %}
		  {% set logo = render(controller('AdminBundle:Base:getmedia', {'media_library_master_id': app.session.get('domain_logo_id'),'live_path':live_path})) %}
		  <link href="{{logo}}" rel="shortcut icon">
		{% else %}
		  <link href="{{asset('bundles/design/')}}/images/favicon.png" rel="shortcut icon">
		{% endif %}
	{% else %}
		<link href="{{asset('bundles/design/')}}/images/favicon.png" rel="shortcut icon">
	{% endif %}
    <title>{% block title %}{% endblock %}</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.4 -->
    <link href="{{asset('bundles/design/')}}css/bootstrap.min.css" rel="stylesheet" type="text/css" />
	<!-- Fontawesome --->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet" type="text/css" />
	<link href="{{asset('bundles/design/')}}css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link href="{{asset('bundles/design/')}}css/skins/_all-skins.min.css" rel="stylesheet" type="text/css" />
	{% block css %}{% endblock %}
	<link href="{{asset('bundles/design/')}}css/AdminLTE.min.css" rel="stylesheet" type="text/css" />
	<style>
		.error{
			color: #cc0000;
			font-weight: normal;
		}
	</style>
	<!-- jQuery 2.1.4 -->
    <script src="{{asset('bundles/design/')}}js/jQuery-2.1.4.min.js"></script>
    <!-- Bootstrap 3.3.2 JS -->
    <script src="{{asset('bundles/design/')}}js/bootstrap.min.js" type="text/javascript"></script>
    <!-- AdminLTE App -->
    <script src="{{asset('bundles/design/')}}/js/app.min.js" type="text/javascript"></script>

	<!-- DataTable ---->
	<link href="{{asset('bundles/design/')}}css/dataTables.bootstrap.css" rel="stylesheet" type="text/css" />
	<link href="{{asset('bundles/design/')}}css/buttons.dataTables.min.css" rel="stylesheet" type="text/css" />
	<script src="{{asset('bundles/design/')}}js/jquery.dataTables.min.js" type="text/javascript"></script>
	<script src="{{asset('bundles/design/')}}js/dataTables.bootstrap.min.js" type="text/javascript"></script>
	<script src="{{asset('bundles/design/')}}js/buttons.print.min.js" type="text/javascript"></script>

	<script src="{{asset('bundles/design/')}}js/dataTables.buttons.min.js" type="text/javascript"></script>
	<script src="{{asset('bundles/design/')}}js/jszip.min.js" type="text/javascript"></script>
	<script src="{{asset('bundles/design/')}}js/pdfmake.min.js" type="text/javascript"></script>
	<script src="{{asset('bundles/design/')}}js/vfs_fonts.js" type="text/javascript"></script>
	<script src="{{asset('bundles/design/')}}js/button.html5.min.js" type="text/javascript"></script>
  <script src="{{asset('bundles/design/')}}js/bootstrap-toggle.min.js" type="text/javascript"></script>
	<script>
	  $(document).ready(function(){
		  $('[data-toggle="tooltip"]').tooltip();


       /*var selector = '.sidebar-menu li';
       $(selector).each(function(){
        if($(this).find('a').attr('href')===window.location.pathname){
          $(selector).removeClass('active');
          $(this).addClass('active');
        }

       });*/



	  });

	</script>
  </head>
  <body class="skin-blue sidebar-mini">
    <div class="wrapper">

      <header class="main-header">
        <!-- Logo -->
       <a href="{{path('admin_dashboard_index')}}" class="logo">
          <!-- mini logo for sidebar mini 50x50 pixels -->
          <span class="logo-mini">
			<img src="{{asset('bundles/design/')}}images/logo.png" width="50px">

		  </span>
          <!-- logo for regular state and mobile devices -->
          <span class="logo-lg">
			 <img src="{{asset('bundles/design/')}}images/main_logo.png" width="160px" height="50px">

		  </span>
        </a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top" role="navigation">
          <!-- Sidebar toggle button-->
          <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
          </a>
          <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
              <!-- Messages: style can be found in dropdown.less-->
             {#<li class="dropdown messages-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <i class="fa fa-envelope-o"></i>
                  <span class="label label-success">4</span>
                </a>
                <ul class="dropdown-menu">
                  <li class="header">You have 4 messages</li>
                  <li>
                    <!-- inner menu: contains the actual data -->
                    <ul class="menu">
                      <li><!-- start message -->
                        <a href="#">
                          <div class="pull-left">
                            <img src="{{asset('bundles/design/')}}images/logo.png" class="img-circle" alt="User Image" />
                          </div>
                          <h4>
                            Support Team
                            <small><i class="fa fa-clock-o"></i> 5 mins</small>
                          </h4>
                          <p>Why not buy a new awesome theme?</p>
                        </a>
                      </li><!-- end message -->
                      <li>
                        <a href="#">
                          <div class="pull-left">
                            <img src="{{asset('bundles/design/')}}images/user3-128x128.jpg" class="img-circle" alt="User Image" />
                          </div>
                          <h4>
                            AdminLTE Design Team
                            <small><i class="fa fa-clock-o"></i> 2 hours</small>
                          </h4>
                          <p>Why not buy a new awesome theme?</p>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <div class="pull-left">
                            <img src="{{asset('bundles/design/')}}images/user4-128x128.jpg" class="img-circle" alt="User Image" />
                          </div>
                          <h4>
                            Developers
                            <small><i class="fa fa-clock-o"></i> Today</small>
                          </h4>
                          <p>Why not buy a new awesome theme?</p>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <div class="pull-left">
                            <img src="{{asset('bundles/design/')}}images/user3-128x128.jpg" class="img-circle" alt="User Image" />
                          </div>
                          <h4>
                            Sales Department
                            <small><i class="fa fa-clock-o"></i> Yesterday</small>
                          </h4>
                          <p>Why not buy a new awesome theme?</p>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <div class="pull-left">
                            <img src="{{asset('bundles/design/')}}images/user4-128x128.jpg" class="img-circle" alt="User Image" />
                          </div>
                          <h4>
                            Reviewers
                            <small><i class="fa fa-clock-o"></i> 2 days</small>
                          </h4>
                          <p>Why not buy a new awesome theme?</p>
                        </a>
                      </li>
                    </ul>
                  </li>
                  <li class="footer"><a href="#">See All Messages</a></li>
                </ul>
              </li>
              <!-- Notifications: style can be found in dropdown.less -->
              <li class="dropdown notifications-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <i class="fa fa-bell-o"></i>
                  <span class="label label-warning">10</span>
                </a>
                <ul class="dropdown-menu">
                  <li class="header">You have 10 notifications</li>
                  <li>
                    <!-- inner menu: contains the actual data -->
                    <ul class="menu">
                      <li>
                        <a href="#">
                          <i class="fa fa-users text-aqua"></i> 5 new members joined today
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <i class="fa fa-warning text-yellow"></i> Very long description here that may not fit into the page and may cause design problems
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <i class="fa fa-users text-red"></i> 5 new members joined
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <i class="fa fa-shopping-cart text-green"></i> 25 sales made
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <i class="fa fa-user text-red"></i> You changed your username
                        </a>
                      </li>
                    </ul>
                  </li>
                  <li class="footer"><a href="#">View all</a></li>
                </ul>
              </li>
              <!-- Tasks: style can be found in dropdown.less -->
              <li class="dropdown tasks-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <i class="fa fa-flag-o"></i>
                  <span class="label label-danger">9</span>
                </a>
                <ul class="dropdown-menu">
                  <li class="header">You have 9 tasks</li>
                  <li>
                    <!-- inner menu: contains the actual data -->
                    <ul class="menu">
                      <li><!-- Task item -->
                        <a href="#">
                          <h3>
                            Design some buttons
                            <small class="pull-right">20%</small>
                          </h3>
                          <div class="progress xs">
                            <div class="progress-bar progress-bar-aqua" style="width: 20%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                              <span class="sr-only">20% Complete</span>
                            </div>
                          </div>
                        </a>
                      </li><!-- end task item -->
                      <li><!-- Task item -->
                        <a href="#">
                          <h3>
                            Create a nice theme
                            <small class="pull-right">40%</small>
                          </h3>
                          <div class="progress xs">
                            <div class="progress-bar progress-bar-green" style="width: 40%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                              <span class="sr-only">40% Complete</span>
                            </div>
                          </div>
                        </a>
                      </li><!-- end task item -->
                      <li><!-- Task item -->
                        <a href="#">
                          <h3>
                            Some task I need to do
                            <small class="pull-right">60%</small>
                          </h3>
                          <div class="progress xs">
                            <div class="progress-bar progress-bar-red" style="width: 60%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                              <span class="sr-only">60% Complete</span>
                            </div>
                          </div>
                        </a>
                      </li><!-- end task item -->
                      <li><!-- Task item -->
                        <a href="#">
                          <h3>
                            Make beautiful transitions
                            <small class="pull-right">80%</small>
                          </h3>
                          <div class="progress xs">
                            <div class="progress-bar progress-bar-yellow" style="width: 80%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                              <span class="sr-only">80% Complete</span>
                            </div>
                          </div>
                        </a>
                      </li><!-- end task item -->
                    </ul>
                  </li>
                  <li class="footer">
                    <a href="#">View all tasks</a>
                  </li>
                </ul>
              </li>
              #}
			  <!-- User Account: style can be found in dropdown.less -->

              <li class="dropdown user user-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <img src="{{asset('bundles/design/')}}images/logo.png" class="user-image" alt="User Image" />
				  <!--{% if app.session.get('role_id') != 1 %}
					  {% if app.session.get('domain_logo_id') != "" and  app.session.get('domain_logo_id') != 0 %}
						{% set logo = render(controller('AdminBundle:Base:getmedia', {'media_library_master_id': app.session.get('domain_logo_id'),'live_path':live_path})) %}
						<img src="{{logo}}" class="user-image" alt="User Image" />
					  {% else %}
						<img src="{{asset('bundles/design/')}}images/logo.png" class="user-image" alt="User Image" />
					  {% endif %}
				  {% else %}
					  <img src="{{asset('bundles/design/')}}images/logo.png" class="user-image" alt="User Image" />
				  {% endif %}-->

                  <span class="hidden-xs"> {%if  app.session.get('username')  is not empty %} {{app.session.get('username') |capitalize }} {%else%}AID{% endif %}</span>
                </a>
                <ul class="dropdown-menu">
                  <!-- User image -->
                  <!--<li class="user-header">
					 <img src="{{app.session.get('userimage')}}" class="img-circle" alt="User Image" />

                    <<p>
                    {%if  app.session.get('username')  is not empty %} {{app.session.get('username') |capitalize }} {%else%} AID{% endif %}
                      <small></small>
                    </p>
                  </li>-->
                  <!-- Menu Body -->
                  {#<li class="user-body">
                    <div class="col-xs-4 text-center">
                      <a href="#">Followers</a>
                    </div>
                    <div class="col-xs-4 text-center">
                      <a href="#">Sales</a>
                    </div>
                    <div class="col-xs-4 text-center">
                      <a href="#">Friends</a>
                    </div>
                  </li>#}
                  <!-- Menu Footer-->
                  <li class="user-footer">
                    <!--<div class="pull-left">
                      <a href="#" class="btn btn-default btn-flat">Profile</a>
                    </div>-->
                    <div class="pull-right">
                      <a href="{{path('admin_default_logout')}}" class="btn btn-primary btn-flat">Sign out</a>
                    </div>
                  </li>
                </ul>
              </li>

            </ul>
          </div>
        </nav>
      </header>
      <!-- Left side column. contains the logo and sidebar -->
      <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
          <!-- Sidebar user panel -->
          <!--<div class="user-panel" style="height: 30px;width: auto;">
            <div class="pull-left image" style="height: auto;width: auto;">
              <a class="col-xs-10" href="{{path('admin_dashboard_index',{'domain':app.session.get('domain')})}}">
				<!--<img src="{{asset('bundles/design/')}}images/logo.png" class="col-xs-7 img-circle" alt="User Image" />-->
				  <!--{% if app.session.get('role_id') != 1 %}
					  {% if app.session.get('domain_logo_id') != "" and  app.session.get('domain_logo_id') != 0 %}
						{% set logo = render(controller('AdminBundle:Base:getmedia', {'media_library_master_id': app.session.get('domain_logo_id'),'live_path':live_path})) %}
						<img src="{{logo}}" class="col-xs-10 img-circle" alt="User Image" />
					  {% else %}
						<img src="{{asset('bundles/design/')}}images/logo.png" class="col-xs-10 img-circle" alt="User Image" />
					  {% endif %}
				  {% else %}
					  <img src="{{asset('bundles/design/')}}images/logo.png" class="col-xs-10 img-circle" alt="User Image" />
				  {% endif %}
			  </a>
            </div>
            <!--<div class="info" style="left: 120px !important;">
			<div class="info" style="height: auto;width: auto;">
              <p> {%if  app.session.get('username')  is not empty %} {{app.session.get('username') |capitalize }} {%else%} AID{% endif %}</p>
              {#<a href="#"><i class="fa fa-circle text-success"></i> Online</a>#}
            </div>
          </div>-->
         <!-- sidebar menu: : style can be found in sidebar.less -->
          <ul class="sidebar-menu">

            <li class=" treeview  {% if app.request.attributes.get('_route') == 'admin_dashboard_index' %}active{% endif %}">
              <a href="{{path('admin_dashboard_index')}}">
                <i class="fa fa-dashboard"></i> <span>Dashboard</span>
              </a>
            </li>

			{% if app.session.get('role_id') == 1 %}
			 <li class="treeview">
			   <a href="{{path('admin_domain_domainlist',{'domain':app.session.get('domain')})}}">
				  <i class="fa fa-building-o"></i> <span>Organizations(Domain)</span>
				</a>
			  </li>
			{% endif %}
			 {% if app.session.get('role_id') == 2 %}
			   <li class="treeview {% if app.request.attributes.get('_route') == 'admin_category_addcategory' %}active{% endif %} {% if app.request.attributes.get('_route') == 'admin_category_index' %}active{% endif %}">
			  <a href="{{path('admin_category_index')}}">
				<i class="fa fa-user"></i> <span>Category</span></a>
			  </li>

				<li class="treeview {% if app.request.attributes.get('_route') == 'admin_product_addproduct' %}active{% endif %}{% if app.request.attributes.get('_route') == 'admin_product_index' %}active{% endif %}">
				 <a href="{{path('admin_product_index')}}">
					<i class="fa fa-square"></i> <span>Product</span>
				  </a>
				</li>
				{% endif %}
			  <li class="treeview {% if app.request.attributes.get('_route') == 'admin_order_assignorder' %}active{% endif %}{% if app.request.attributes.get('_route') == 'admin_order_vieworder' %}active{% endif %}{% if app.request.attributes.get('_route') == 'admin_order_index' %}active{% endif %}">
			   <a href="{{path('admin_order_index')}}">
				  <i class="fa fa-reorder "></i> <span>Orders</span>
				</a>
			  </li>
        <li class="treeview {% if app.request.attributes.get('_route') == 'admin_order_cancelledorder' %}active{% endif %}">
			   <a href="{{path('admin_order_cancelledorder')}}">
				  <i class="fa fa-reorder "></i> <span>Cancelled Orders</span>
				</a>
			  </li>
        {% if app.session.get('role_id') == 2 or  app.session.get('role_id') == 1 %}
        <li class="treeview {% if app.request.attributes.get('_route') == 'admin_user_adduser' %}active{% endif %}{% if app.request.attributes.get('_route') == 'admin_user_index' %}active{% endif %}">
			   <a href="{{path('admin_user_index')}}">
				  <i class="fa fa-mail-forward"></i> <span>Customers</span>
				</a>
			  </li>
        {% endif %}
        {% if app.session.get('role_id') == 2 %}
        <li class="treeview {% if app.request.attributes.get('_route') == 'admin_product_productimport' %}active{% endif %}">
			   <a href="{{ path('admin_product_productimport') }}">
				  <i class="fa fa-mail-forward"></i> <span>Product import</span>
				</a>
			  </li>
        {% endif %}
			  {% if app.session.get('role_id') == 2 or app.session.get('role_id') == 3 %}

			  <li class="treeview">
			   <a href="{{path('admin_suppliers_index',{'domain':app.session.get('domain')})}}">
				  <i class="fa fa-mail-forward"></i> <span>Suppliers</span>
				</a>
			  </li>

			   <li class="treeview {% if app.request.attributes.get('_route') == 'admin_shop_addshop' %}active{% endif %}{% if app.request.attributes.get('_route') == 'admin_shop_shoplist' %}active{% endif %}">
			   <a href="{{path('admin_shop_shoplist')}}">
				  <i class="fa fa-mail-forward"></i> <span>AID Man(Shop Admin)</span>
				</a>
			  </li>

			   <li>
				  <a href="{{path('admin_deliveryboy_index',{'domain':app.session.get('domain')})}}">
					<i class="fa fa-circle-o"></i>Delivery Boy</a></li>
			   </li>

			   <li class="treeview">
			   <a href="{{path('admin_feedback_index',{'domain':app.session.get('domain')})}}">
				  <i class="fa fa-mail-forward"></i> <span>Feedbacks</span>
				</a>
			  </li>

			{% endif %}
			{% if app.session.get('role_id') == 2 or  app.session.get('role_id') == 1 %}
			  <li class="treeview {% if app.request.attributes.get('_route') == 'admin_reportproblem_index' %}active{% endif %}">
			   <a href="{{path('admin_reportproblem_index')}}">
				  <i class="fa fa-mail-forward"></i> <span>Report Problem</span>
				</a>
			  </li>

			    <li class="treeview {% if app.request.attributes.get('_route') == 'admin_contactus_index' %}active{% endif %}">
			   <a href="{{path('admin_contactus_index')}}">
				  <i class="fa fa-mail-forward"></i> <span>Contact Us</span>
				</a>
			  </li>

			   <li class="treeview">
			   <a href="{{path('admin_offers_index',{'domain':app.session.get('domain')})}}">
				  <i class="fa fa-mail-forward"></i> <span>Offers</span>
				</a>
			  </li>
			{% endif %}



			 <li class="treeview">
				<a href="#">
				  <i class="fa fa-users"></i> <span>Delivery Users</span>
				  <i class="fa fa-angle-left pull-right"></i>
				</a>
				<ul class="treeview-menu">

				  {% if app.session.get('role_id') == 1 %}
					  <li><a href="{{path('admin_userrole_index',{'domain':app.session.get('domain')})}}"><i class="fa fa-circle-o"></i>Roles</a></li>
					 <li><a href="{{path('admin_right_index',{'domain':app.session.get('domain')})}}"><i class="fa fa-circle-o"></i>Rights</a></li>
				  {% endif %}
				  {% if app.session.get('role_id') == 1 or app.session.get('role_id') == 2 or app.session.get('role_id') == 4 %}
					  <li><a href="{{path('admin_deliveryadmin_index',{'domain':app.session.get('domain')})}}"><i class="fa fa-circle-o"></i>Delivery Admin</a></li>
					  <li><a href="{{path('admin_deliverymanager_index',{'domain':app.session.get('domain')})}}"><i class="fa fa-circle-o"></i>Delivery Manager</a></li>
					  {% if app.session.get('domain') != "fortune"%} <li><a href="{{path('admin_deliveryboy_index',{'domain':app.session.get('domain')})}}"><i class="fa fa-circle-o"></i>Delivery Boy</a></li>{% endif %}
				  {% endif %}
				  <!--li><a href="{{path('admin_user_index',{'domain':app.session.get('domain')})}}"><i class="fa fa-circle-o"></i>Users</a></li-->

				</ul>
			  </li>
			  {% if app.session.get('role_id') == 2 %}
			  <li class="treeview">
				<a href="{{path('admin_coupon_index',{'domain':app.session.get('domain')})}}">
				  <i class="fa fa-tags"></i> <span>Coupons</span>
				</a>
			  </li>
			{% endif %}
      {#for remain active sidebar as per selection#}
        {#for active master li if listing page open#}
          {% set area_li= (app.request.attributes.get('_route') == 'admin_area_index') ? 'active' : '' %}
          {% set product_type_li= (app.request.attributes.get('_route') == 'admin_producttype_producttypelist') ? 'active' : '' %}
          {% set insurance_li= (app.request.attributes.get('_route') == 'admin_insurance_insurancelist') ? 'active' : '' %}
          {% set issue_title_li= (app.request.attributes.get('_route') == 'admin_issuetitle_issuetitlelist') ? 'active' : '' %}
        {#for active master li if listing page open#}
        {#for active master li if add update page open#}
          {% set area_adup= (app.request.attributes.get('_route') == 'admin_area_addarea') ? 'active' : '' %}
          {% set product_type_adup= (app.request.attributes.get('_route') == 'admin_producttype_addproducttype') ? 'active' : '' %}
          {% set insurance_adup= (app.request.attributes.get('_route') == 'admin_insurance_addinsurance') ? 'active' : '' %}
          {% set issue_title_adup= (app.request.attributes.get('_route') == 'admin_issuetitle_addissuetitle') ? 'active' : '' %}
        {#for active master li if add update page open#}
        {#for open sub menu if listing page open #}
          {% set area_li_1= (app.request.attributes.get('_route') == 'admin_area_index') ? 'menu-open' : '' %}
          {% set product_type_li_1= (app.request.attributes.get('_route') == 'admin_producttype_producttypelist') ? 'menu-open' : '' %}
          {% set insurance_li_1= (app.request.attributes.get('_route') == 'admin_insurance_insurancelist') ? 'menu-open' : '' %}
          {% set issue_title_li_1= (app.request.attributes.get('_route') == 'admin_issuetitle_issuetitlelist') ? 'menu-open' : '' %}
       {#for open sub menu if listing page open #}
       {#for open sub menu if add update page open #}
          {% set area_adup_1= (app.request.attributes.get('_route') == 'admin_area_addarea') ? 'menu-open' : '' %}
          {% set product_type_adup_1= (app.request.attributes.get('_route') == 'admin_producttype_addproducttype') ? 'menu-open' : '' %}
          {% set insurance_adup_1= (app.request.attributes.get('_route') == 'admin_insurance_addinsurance') ? 'menu-open' : '' %}
          {% set issue_title_adup_1= (app.request.attributes.get('_route') == 'admin_issuetitle_addissuetitle') ? 'menu-open' : '' %}
       {#for open sub menu if add update page open #}
       {#for open sub menu display block if listing page open #}
          {% set area_li_2= (app.request.attributes.get('_route') == 'admin_area_index') ? 'style=display:block;' : '' %}
          {% set product_type_li_2= (app.request.attributes.get('_route') == 'admin_producttype_producttypelist') ? 'style=display:block;' : '' %}
          {% set insurance_li_2= (app.request.attributes.get('_route') == 'admin_insurance_insurancelist') ? 'style=display:block;' : '' %}
          {% set issue_title_li_2= (app.request.attributes.get('_route') == 'admin_issuetitle_issuetitlelist') ? 'style=display:block;' : '' %}
       {#for open sub menu display block  if listing page open #}
        {#for open sub menu display block if add update page open #}
          {% set area_adup_2= (app.request.attributes.get('_route') == 'admin_area_addarea') ? 'style=display:block;' : '' %}
          {% set product_type_adup_2= (app.request.attributes.get('_route') == 'admin_producttype_addproducttype') ? 'style=display:block;' : '' %}
          {% set insurance_adup_2= (app.request.attributes.get('_route') == 'admin_insurance_addinsurance') ? 'style=display:block;' : '' %}
          {% set issue_title_adup_2= (app.request.attributes.get('_route') == 'admin_issuetitle_addissuetitle') ? 'style=display:block;' : '' %}
       {#for open sub menu display block if add update page open#}
      {#for remain active sidebar as per selection#}
{% if app.session.get('role_id') == 2 or app.session.get('role_id') == 1 %}
			<li class="treeview {{area_li}}{{product_type_li}}{{insurance_li}}{{issue_title_li}}{{area_adup}}{{product_type_adup}}{{insurance_adup}}{{issue_title_adup}}">
              <a href="#">
                <i class="fa fa-asterisk"></i> <span>Masters</span>
                <i class="fa fa-angle-left pull-right"></i>
              </a>
              <ul class="treeview-menu {{area_li_1}}{{product_type_li_1}}{{insurance_li_1}}{{issue_title_li_1}}{{area_adup_1}}{{product_type_adup_1}}{{insurance_adup_1}}{{issue_title_adup_1}}" {{area_li_2}}{{product_type_li_2}}{{insurance_li_2}}{{issue_title_li_2}}{{area_adup_2}}{{product_type_adup_2}}{{insurance_adup_2}}{{issue_title_adup_2}} >
				{% if app.session.get('role_id') == 1 %}
				<li><a href="#" onclick="alert('Coming Soon');"><i class="fa fa-circle-o"></i>Language</a></li>
					<li><a href="{{path('admin_country_index',{'domain':app.session.get('domain')})}}"><i class="fa fa-circle-o"></i>Country</a></li>
					<li><a href="{{path('admin_state_index',{'domain':app.session.get('domain')})}}"><i class="fa fa-circle-o"></i>State</a></li>
					<li><a href="{{path('admin_city_index',{'domain':app.session.get('domain')})}}"><i class="fa fa-circle-o"></i>City</a></li>

				{%endif%}

				{% if app.session.get('role_id') == 2 %}
				<li><a href="{{path('admin_company_index',{'domain':app.session.get('domain')})}}"><i class="fa fa-circle-o"></i>Company</a></li>
				<li><a href="{{path('admin_branch_index',{'domain':app.session.get('domain')})}}"><i class="fa fa-circle-o"></i>Branch</a></li>
				<li><a href="{{path('admin_attribute_attributes',{'domain':app.session.get('domain')})}}"><i class="fa fa-circle-o"></i>Attribute Master</a></li>
				<li><a href="{{path('admin_servicearea_servicecountrylist',{'domain':app.session.get('domain')})}}"><i class="fa fa-map-marker"></i><span>Country</span></a></li>
				<li><a href="{{path('admin_servicearea_servicestatelist',{'domain':app.session.get('domain')})}}"><i class="fa fa-map-marker"></i><span>State</span></a></li>
				<li><a href="{{path('admin_servicearea_servicecitylist',{'domain':app.session.get('domain')})}}"><i class="fa fa-map-marker"></i><span>City</span></a></li>


					<li class="{% if app.request.attributes.get('_route') == 'admin_area_addarea' %}active{% endif %}{% if app.request.attributes.get('_route') == 'admin_area_index' %}active{% endif %}"><a href="{{path('admin_area_index')}}"><i class="fa fa-circle-o"></i>Area</a></li>


				<li  class="{% if app.request.attributes.get('_route') == 'admin_producttype_addproducttype' %}active{% endif %}{% if app.request.attributes.get('_route') == 'admin_producttype_producttypelist' %}active{% endif %}"><a href="{{path('admin_producttype_producttypelist')}}"><i class="fa fa-map-marker"></i><span>Product Type</span></a></li>
				<li  class="{% if app.request.attributes.get('_route') == 'admin_insurance_addinsurance' %}active{% endif %}{% if app.request.attributes.get('_route') == 'admin_insurance_insurancelist' %}active{% endif %}"><a href="{{path('admin_insurance_insurancelist')}}"><i class="fa fa-map-marker"></i><span>Insurance</span></a></li>
				<li  class="{% if app.request.attributes.get('_route') == 'admin_issuetitle_addissuetitle' %}active{% endif %}{% if app.request.attributes.get('_route') == 'admin_issuetitle_issuetitlelist' %}active{% endif %}"><a href="{{path('admin_issuetitle_issuetitlelist')}}"><i class="fa fa-map-marker"></i><span>Issue Type / Contact Type Title</span></a></li>

				<li><a href="{{path('admin_servicearea_index',{'domain':app.session.get('domain')})}}"><i class="fa fa-map-marker"></i><span>Area</span></a></li>

				  <li><a href="{{path('admin_survey_surveyquestions',{'domain':app.session.get('domain')})}}"><i class="fa fa-circle"></i><span>Survey</span></a></li>
				

				<!--<li><a href="{{path('admin_healthtips_index',{'domain':app.session.get('domain')})}}"><i class="fa fa-circle-o"></i>Health Tips</a></li>-->
				<!--li><a href="#"  onclick="alert('Coming Soon');"><i class="fa fa-circle-o"></i>Tax</a></li-->
				{% endif %}
              </ul>
            </li>
		  {% endif %}
		  {% if app.session.get('role_id') == 2 or app.session.get('role_id') == 1 %}
		   <li class="treeview {% if app.request.attributes.get('_route') == 'admin_setting_index' %}active{% endif %}">
             <a href="{{path('admin_setting_index',{'domain':app.session.get('domain')})}}">
                <i class="fa  fa-wrench"></i> <span>Settings</span>
              </a>
            </li>
              {% endif %}
		    {% if app.session.get('role_id') == 2 %}
		  {# <li class="treeview">
              <a href="{{path('admin_pushnotification_index',{'domain':app.session.get('domain')})}}">
                <i class="fa fa-paper-plane"></i> <span>Push Notification</span>
              </a>
            </li>#}
            <li class="treeview">
					<a href="{{path('admin_deliverycharge_deliverycharge',{'domain':app.session.get('domain')})}}">
						<i class="fa fa-inr"></i> <span>Delivery charges</span>
					</a>
			 </li>
		  {% endif %}
		  {% if app.session.get('role_id') == 2 or app.session.get('role_id') == 1 %}
		 <li class="treeview">
		<!--<a href="#">
		  <i class="fa fa-users"></i> <span>Reports</span>
		  <i class="fa fa-angle-left pull-right"></i>
		</a>-->



			<ul class="treeview-menu">
			  {#<li><a href="{{path('admin_report_deliveryboywise',{'domain':app.session.get('domain')})}}"><i class="fa fa-circle-o"></i>Delivery Boy Wise Order</a></li>#}
			  {#<li><a href="{{path('admin_report_surveyreport',{'domain':app.session.get('domain')})}}"><i class="fa fa-circle-o"></i>Survey Feedback report</a></li>#}

			  <li><a href="{{path('admin_report_customerwise',{'domain':app.session.get('domain')})}}"><i class="fa fa-circle-o"></i>Customer Wise Order</a></li>
			  {#<li><a href="{{path('admin_report_dailyorder',{'domain':app.session.get('domain')})}}"><i class="fa fa-circle-o"></i>Daily order report</a></li>
			  <li><a href="{{path('admin_report_salesreport',{'domain':app.session.get('domain')})}}"><i class="fa fa-circle-o"></i>Sales report</a></li>
			  <li><a href="{{path('admin_report_ordersummaryreport',{'domain':app.session.get('domain')})}}"><i class="fa fa-circle-o"></i>Order Summary report</a></li>
			  <li><a href="{{path('admin_report_deliveryreportv2',{'domain':app.session.get('domain')})}}"><i class="fa fa-circle-o"></i>Delivery report</a></li>#}

		</ul>
	   </li>
      {#for remain active sidebar as per selection#}
        {#for active master li if listing page open#}
          {% set faqtype_li= (app.request.attributes.get('_route') == 'admin_faq_faqtypelist') ? 'active' : '' %}
          {% set faq_li= (app.request.attributes.get('_route') == 'admin_faq_faqlist') ? 'active' : '' %}
        {#for active master li if listing page open#}
        {#for active master li if add update page open#}
          {% set faqtype_adup= (app.request.attributes.get('_route') == 'admin_faq_addfaqtype') ? 'active' : '' %}
          {% set faq_adup= (app.request.attributes.get('_route') == 'admin_faq_addfaq') ? 'active' : '' %}
        {#for active master li if add update page open#}
        {#for open sub menu if listing page open #}
          {% set faqtype_li_1= (app.request.attributes.get('_route') == 'admin_faq_faqtypelist') ? 'menu-open' : '' %}
          {% set faq_li_1= (app.request.attributes.get('_route') == 'admin_faq_faqlist') ? 'menu-open' : '' %}
       {#for open sub menu if listing page open #}
       {#for open sub menu if add update page open #}
          {% set faqtype_adup_1= (app.request.attributes.get('_route') == 'admin_faq_addfaqtype') ? 'menu-open' : '' %}
          {% set faq_adup_1= (app.request.attributes.get('_route') == 'admin_faq_addfaq') ? 'menu-open' : '' %}
       {#for open sub menu if add update page open #}
       {#for open sub menu display block if listing page open #}
          {% set faqtype_li_2= (app.request.attributes.get('_route') == 'admin_faq_faqtypelist') ? 'style=display:block;' : '' %}
          {% set faq_li_2= (app.request.attributes.get('_route') == 'admin_faq_faqlist') ? 'style=display:block;' : '' %}
       {#for open sub menu display block  if listing page open #}
        {#for open sub menu display block if add update page open #}
          {% set faqtype_adup_2= (app.request.attributes.get('_route') == 'admin_faq_addfaqtype') ? 'style=display:block;' : '' %}
          {% set faq_adup_2= (app.request.attributes.get('_route') == 'admin_faq_addfaq') ? 'style=display:block;' : '' %}
       {#for open sub menu display block if add update page open#}
      {#for remain active sidebar as per selection#}
	   <li class="treeview {{faqtype_li}}{{faq_li}}{{faqtype_adup}}{{faq_adup}}">
              <a href="#">
                <i class="fa fa-info-circle"></i> <span>FAQ</span>
                <i class="fa fa-angle-left pull-right"></i>
              </a>
              <ul class="treeview-menu {{faqtype_li_1}}{{faq_li_1}}{{faqtype_adup_1}}{{faqtype_adup_2}}" {{faqtype_li_2}}{{faq_li_2}}{{faqtype_adup_2}}{{faq_adup_2}}>
                <li class="{% if app.request.attributes.get('_route') == 'admin_faq_addfaqtype' %}active{% endif %}{% if app.request.attributes.get('_route') == 'admin_faq_faqtypelist' %}active{% endif %}"><a href="{{path('admin_faq_faqtypelist',{'domain':app.session.get('domain')})}}"><i class="fa fa-question-circle"></i>FAQ Type</a></li>
				<li class="{% if app.request.attributes.get('_route') == 'admin_faq_addfaq' %}active{% endif %}{% if app.request.attributes.get('_route') == 'admin_faq_faqlist' %}active{% endif %}"><a href="{{path('admin_faq_faqlist',{'domain':app.session.get('domain')})}}"><i class="fa fa-question"></i>FAQ</a></li>
              </ul>
            </li>
		<li class="treeview {% if app.request.attributes.get('_route') == 'admin_terms_termsandcondition' %}active{% endif %}">
	              <a href="{{path('admin_terms_termsandcondition',{'domain':app.session.get('domain')})}}">
	                <i class="fa fa-info-circle"></i> <span>Terms & Conditions</span>
	              </a>
	        </li>
		{% endif %}
			<!--<li class="treeview">
             <a href="{{path('admin_pricing_index',{'domain':app.session.get('domain')})}}"  >
                <i class="fa  fa-wrench"></i> <span>Pricing Rules</span>
              </a>
            </li>-->

			  <li class="treeview {% if app.request.attributes.get('_route') == 'admin_changepassword_index' %}active{% endif %}">
				<a href="{{path('admin_changepassword_index')}}">
				  <i class="fa fa-info-circle"></i> <span>Change Password </span>

			  </a>
			  </li>
        {% if app.session.get('role_id') == 6 %}
          {#<li class="treeview">
              <a href="{{path('admin_chat_index',{'domain':app.session.get('domain'),'professional_id':app.session.get('user_id')})}}">
              <i class="fa fa-user"></i> <span>Chat</span></a>
         </li>#}
       {% endif %}
			  <li>
				<!--<a href="#" onclick="window.open('https://www.sitelock.com/verify.php?site=bwizardapp.com','SiteLock','width=600,height=600,left=160,top=170');" ><img style="height: 51px;width: 128px;" class="img-responsive" alt="SiteLock" title="SiteLock" src="//shield.sitelock.com/shield/bwizardapp.com" /></a>-->
			  </li>


			</ul>
        </section>
        <!-- /.sidebar -->
      </aside>
	<div class="content-wrapper" style="min-height: 916px;">

	  <!--------------------- Main page contents loads here ------------------------------------>
	  {% block content %}{% endblock %}
	  <!---------------------------------------------------------------------------------------->

	</div>
	<footer class="main-footer">
	  <div class="row">

        <div class=" col-md-2 pull-right hidden-xs">
          <b>Version</b> 2.2.0
        </div>
		<div class=" col-md-5  hidden-xs">
		  <strong>Copyright &copy; 2016-2017 <a href="#">AID</a>.</strong> All rights reserved.
		</div>

	  </div>
    </footer>
    </div><!-- ./wrapper -->
  </body>
</html>
<script src="{{asset('bundles/design/')}}js/jquery.validate.min.js" type="text/javascript"></script>
{% block js %}{% endblock %}
