{% extends "AdminBundle::Layout/adminlayout.html.twig" %}
{% block title %} Country list  {% endblock %}
{% block css %}
	
{% endblock %}
{% block content %}
	<section class="content-header">
		<h1>
            Country list
		  <small></small>
		</h1>
		<ol class="breadcrumb">
		  <li><a href="{{path('admin_dashboard_index',{'domain':app.session.get('domain')})}}"><i class="fa fa-dashboard"></i>Dashboard</a></li>
		  <li class="active">Country list</li>
		</ol>
		
	  </section>
	
		<section class="content">
		{% for flashMessage in app.session.flashbag.get('success_msg') %}
			<div role="alert" class="alert alert-success alert-dismissible fade in">
				<button aria-label="Close" data-dismiss="alert" class="close" type="button"><span aria-hidden="true">×</span></button>
				<strong>Alert!</strong>&nbsp; {{ flashMessage }}
			</div>
		{% endfor %}
		{% for flashMessage in app.session.flashbag.get('error_msg') %}
			<div role="alert" class="alert alert-danger alert-dismissible fade in">
				<button aria-label="Close" data-dismiss="alert" class="close" type="button"><span aria-hidden="true">×</span></button>
				<strong>Alert!</strong>&nbsp; {{ flashMessage }}
			</div>
		{% endfor %}
		
		<div class="row">
			<div class="col-xs-12">
                <div class="box box-solid">
                    <form class="form-horizontal" action="{{path('admin_servicearea_savecountrylist',{'domain':app.session.get('domain')})}}" method="post" enctype="multipart/form-data">
                        
                        <div class="box-body">

							<div class="form-group">
                                <label class="col-sm-1 control-label">&nbsp;</label>
                                <div class="col-sm-11" id="">
                                  
                                  
                                    <div class="form-group">
                                        {% if country_master is defined and country_master is not empty %}
                                            {% for country in country_master %}
                                            <div class="checkbox col-md-2">
                                                <label {% if service_country_relation is defined and service_country_relation is not empty %}{% for service_country in service_country_relation %}{% if service_country.main_country_id == country.main_country_id %}style="color: #00A65A;font-weight: bold;"{% endif %}{% endfor %}{% endif %}><input type="checkbox" name="main_country_id[]" value="{{country.main_country_id}}" {% if service_country_relation is defined and service_country_relation is not empty %}{% for service_country in service_country_relation %}{% if service_country.main_country_id == country.main_country_id %}checked="checked"{% endif %}{% endfor %}{% endif %}>{{country.country_title}}</label>
                                            </div> 
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                            
                                        
                                </div>
                            </div>
                             
                             

                        </div>
                      
                      <div class="box-footer">
                        <a href="{{path('admin_dashboard_index',{'domain':app.session.get('domain')})}}" class="btn btn-default btn-flat">Cancel</a>
                            <button type="submit" class="btn btn-info pull-right btn-flat" name="save_service_country" value="save_service_country">Save</button>
                      </div>
                    </form>
                </div>
            </div>
		</div>
	  </section>
{% endblock %}

{% block js %}
<script>
$(document).ready(function() {
    $('#example1').DataTable();
} );
</script>
{% endblock %}