{% extends "AdminBundle::Layout/adminlayout.html.twig" %}
{% block title %} Delivery Report {% endblock %}
{% block css %}
<link href="{{asset('bundles/design/')}}plugins/bootstrape3_datetime_picker/css/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css" />
{#<link href="{{asset('bundles/design/')}}plugins/datepicker/datepicker3.css" rel="stylesheet" type="text/css" />#}
{% endblock %}
{% block content %}
	  
	<section class="content-header" style="padding: 26px 16px 0px 0px;">
		  <small></small>

		<ol class="breadcrumb">
		  <li><a href="{{path('admin_dashboard_index',{'domain':app.session.get('domain')})}}"><i class="fa fa-dashboard"></i>Dashboard</a></li>
		  <li class="">Delivery Report</li>
		</ol>
	  </section>
	  <section class="content">
		<div class ="row">
			<div class="col-md-12">
			{% for flashMessage in app.session.flashbag.get('success_msg') %}
			  <div class="alert alert-success alert-dismissable">
				  <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
				  <h4><i class="icon fa fa-check"></i> Alert!</h4>{{ flashMessage }}
			  </div>
			  {% endfor %}
			  {% for flashMessage in app.session.flashbag.get('error_msg') %}
			  <div class="alert alert-danger alert-dismissable">
				  <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
				  <h4><i class="icon fa fa-check"></i> Alert!</h4>{{ flashMessage }}
			  </div>
			{% endfor %}
			</div>  
		</div><br>
		<div class="row">
			<div class="col-xs-12">
                <div class="form-group">
				<label class="control-label col-xs-2">Start Date</label>
				<div class="col-xs-3">
					<div class="input-group date">
						<input type="text" name="starting_date" id="starting_date" class="form-control" value="" required />
						<div class="input-group-addon">
							<span class="glyphicon glyphicon-calendar"></span>
						</div>
					</div>
				</div>
			    
				<label class="control-label col-xs-2">End Date</label>
				<div class="col-xs-3">
					<div class="input-group date">
						<input type="text" name="ending_date" id="ending_date" class="form-control" value="" required />
						<div class="input-group-addon">
							<span class="glyphicon glyphicon-calendar"></span>
						</div>
					</div>
				</div>
				
                      {#<label class="control-label col-xs-2">To Date</label>
                      <div class="col-xs-3">
                            <input type="text" name="todate" id="todate" readonly class="form-control date" />
                      </div>#}
                     
                </div>
		    
		</div>
		</div><br>
	  <div class="row">
			<div class="col-xs-12">
				  <div class="form-group">
						<label class="control-label col-xs-2">City</label>
						<div class="col-xs-3">
							<div class="input-group date">
								<select class="form-control" name="city_id" id="city_id">
									<option value="0">Any</option>
									{% if city_list is defined and city_list is not empty %}
										  {% for list in city_list %}
												<option value="{{list.main_city_id}}">{{list.city_name}}</option>
										  {% endfor %}
									{% endif %}
								</select>
								<div class="input-group-addon">
									<span class="glyphicons glyphicons-global"></span>
								</div>
							</div>
						</div>
						
						<input type="hidden" id="domain_id" value="{% if app.session.get('domain_id') is defined and app.session.get('domain_id') != "" %}{{app.session.get('domain_id')}}{% endif %}">
                      <div class="col-xs-2 pull-right">
                            <button type="button" name="search" id="search" class="btn btn-primary btn-flat" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Loading..." onClick="getReport();">Search</button>
							
                      </div>
				  </div>
			</div>
	  </div>
	  <br>
		<div class="row">
			<div class="col-xs-12">
                <div class="box box-solid">
                    <div class="box-header with-border">
                      <h3 class="box-title" id="Reportheader">Delivery Report <span id="spnReportDate"></span></h3>
                    
                    </div>
                    <div class="box-body">
						<div id="mydiv">
									<div class="container-fluid table-responsive" id="report_tbl">
										<h4>No Records Found!</h4>
										{#<table id="example1" class="table table-bordered table-striped text-center">
											<thead>									
												<th>Customer/Mobile</th>
											</thead>
											<tbody id="tbody">
												
											</tbody>
											<tfoot>
												<th>Customer / Mobile</th>
											</tfoot>
										</table>#}
										
									</div>
						</div>

                    </div>
					
						
                  </div>
            </div>
		</div>
	  </section>
{% endblock %}

{% block js %}
<script src="{{asset('bundles/design/')}}plugins/daterangepicker/moment.min.js" type="text/javascript"></script>
<script src="{{asset('bundles/design/')}}plugins/bootstrape3_datetime_picker/js/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
{#<script src="{{asset('bundles/design/')}}plugins/datepicker/bootstrap-datepicker.js" type="text/javascript"></script>#}
<script src="{{asset('bundles/design/')}}table-to-excel/src/jquery.table2excel.js" type="text/javascript"></script>
<script>
$(function () {
	$('#starting_date').datetimepicker();
	$('#ending_date').datetimepicker({
		useCurrent: false//Important! See issue #1075
	});
	$("#starting_date").on("dp.change", function (e) {
		$('#ending_date').data("DateTimePicker").minDate(e.date);
	});
	$("#ending_date").on("dp.change", function (e) {
		$('#starting_date').data("DateTimePicker").maxDate(e.date);
	});
});
function getReport()
{
	$("#search").button('loading');
	var starting_date = $("#starting_date").val();
	var ending_date = $("#ending_date").val();
	var domain_id = $("#domain_id").val();
	var city_id = $("#city_id").val();
	$("#report_tbl").html("");
	$.ajax({
		type: 'POST',
		url : "{{path('admin_report_getdeliveryreportv2',{'domain':app.session.get('domain')})}}",
		data: {'starting_date':starting_date,'ending_date':ending_date,'domain_id':domain_id,'city_id':city_id,'flag':'get_deliveryreportv2'},
		success: function(response){
			$("#spnReportDate").html("- From <b>"+starting_date+"</b> to <b>"+ending_date+"</b>");
			document.title = $("#Reportheader").text();
			$("#report_tbl").html(response);
			$("#search").button('reset');
		}
	});
}
</script>

{% endblock %}