<!-- keep user logged in -->
{% if app.session.get('access_token') is defined and app.session.get('access_token') is not empty %}
<script>
	if (typeof(Storage) !== "undefined"){
		localStorage.setItem("access_token", "{{ app.session.get('access_token') }}");
	}
</script>
{% elseif app.session.get('login_status') is defined and app.session.get('login_status') is not empty %}
	{% if app.session.get('login_status') == 'logout' %}
		<script>
			if (typeof(Storage) !== "undefined") {
				localStorage.removeItem("access_token");
			}
		</script>
	{% endif %}
{% else %}
<script>
	if (typeof(Storage) !== "undefined"){
		
		if(localStorage.getItem("access_token") != '' && localStorage.getItem('access_token') != null && localStorage.getItem('access_token') != 'null'){
			location.href = "start-session/" + localStorage.getItem("access_token");
		}
	}
</script>
{% endif %}
<!-- end: keep user logged in -->

<html>
	<head>
		{% block style %}{% endblock %}
		<title>Aid Pharmacy</title>

		<meta charset="utf-8">
		<!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
		<meta name="description" content="">

		<!-- Google Fonts -->
		<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700%7CSource+Sans+Pro:400,300,700,600%7CPlayfair+Display:400,700,400italic' rel='stylesheet'>

		<!-- Css -->
		<link href="{{asset('bundles/design/')}}css/bootstrap.min.css" rel="stylesheet" type="text/css" />
		<link rel="stylesheet" href="{{asset('bundles/design/')}}css/font-icons.css" />
		<link rel="stylesheet" href="{{asset('bundles/design/')}}revolution/css/settings.css" />
		<link rel="stylesheet" href="{{asset('bundles/design/')}}css/rev-slider.css" />
		<link rel="stylesheet" href="{{asset('bundles/design/')}}css/frontend/style.css" />
		<link rel="stylesheet" href="{{asset('bundles/design/')}}css/colors/color-mint.css" />

		<!-- Favicons -->
		<link rel="shortcut icon" href="{{asset('bundles/design/')}}images/favicon.png">
		<link rel="stylesheet" href="{{ asset('bundles/design/') }}css/custom.css">
		<script type="text/javascript" src="{{asset('bundles/design/')}}js/jquery.min.js"></script>
	</head>
	<body>
		<!-- Preloader -->
		<div class="loader-mask">
			<div class="loader">
				<div></div>
				<div></div>
			</div>
		</div>
		<!-- Navigation -->
	<header class="nav">
		
		<div class="nav__holder nav--sticky">	
		  <div class="container relative">
			<div class="flex-parent col-md-12">

			  <form method="get" class="nav__search-wrap">
				<input type="search" class="nav__search-input" placeholder="Type &amp; Hit Enter">
				<i class="fa fa-close nav__search-close" id="nav__search-close"></i>
			  </form>

			  <div class="nav__header clearfix main-logo fill-padd-left col-md-2">
				<!-- Logo -->
				<div class="logo-wrap">
				  <a href="{{ path('site_default_index') }}" class="logo__link">
					<img class="logo logo--dark" src="{{asset('bundles/design/')}}images/main_logo.png" alt="logo">
				  </a>
				</div>

				<button type="button" class="nav__icon-toggle" id="nav__icon-toggle" data-toggle="collapse" data-target="#navbar-collapse">
				  <span class="sr-only">Toggle navigation</span>
				  <span class="nav__icon-toggle-bar"></span>
				  <span class="nav__icon-toggle-bar"></span>
				  <span class="nav__icon-toggle-bar"></span>
				</button>
			  </div> <!-- end nav-header -->
				
			  <div class="col-md-4">
			  </div>
				
			  <nav id="navbar-collapse" class="nav__wrap collapse navbar-collapse">              
				<ul class="nav__menu">

				  <li class="nav__dropdown active">
					<a href="index.html">Home</a>
					<i class="fa fa-angle-down nav__dropdown-trigger"></i>
					<ul class="nav__dropdown-menu">
					  <li><a href="index.html">Home Multi-Page</a></li>
					  <li><a href="index-agency.html">Home Agency</a></li>
					  <li><a href="index-creative-1.html">Home Creative 1</a></li>
					  <li><a href="index-creative-2.html">Home Creative 2</a></li>
					  <li><a href="index-creative-3.html">Home Creative 3</a></li>
					  <li><a href="index-onepage.html">Home Onepage</a></li>
					  <li><a href="index-animated-bg.html">Home Animated Bg</a></li>
					  <li><a href="index-text-rotator.html">Home Text Rotator</a></li>
					  <li><a href="index-video-bg.html">Home Video Bg</a></li>
					  <li><a href="index-vimeo-bg.html">Home Vimeo Bg</a></li>
					  <li><a href="index-youtube-bg.html">Home Youtube Bg</a></li>
					</ul>
				  </li>

				  <li class="nav__dropdown">
					<a href="#">Pages</a>
					<i class="fa fa-angle-down nav__dropdown-trigger"></i>
					<ul class="nav__dropdown-menu">
					  <li><a href="services.html">Services</a></li>
					  <li><a href="about-us.html">About Us</a></li>
					  <li><a href="contact.html">Contact</a></li>
					  <li><a href="404.html">404</a></li>
					</ul>
				  </li>

				  <li class="nav__dropdown">
					<a href="#">Portfolio</a>
					<i class="fa fa-angle-down nav__dropdown-trigger"></i>
					<ul class="nav__dropdown-menu">
					  <li><a href="portfolio-4.html">4 Columns</a></li>
					  <li><a href="portfolio-3.html">3 Columns</a></li>
					  <li><a href="portfolio-2.html">2 Columns</a></li>
					  <li><a href="portfolio-single.html">Single Project</a></li>
					</ul>
				  </li>

				  <li class="nav__dropdown">
					<a href="#">Blog</a>
					<i class="fa fa-angle-down nav__dropdown-trigger"></i>
					<ul class="nav__dropdown-menu">
					  <li><a href="blog-standard.html">Standard</a></li>
					  <li><a href="blog-single.html">Single Post</a></li>
					</ul>
				  </li>

				  <li class="nav__dropdown">
					<a href="#">Features</a>
					<i class="fa fa-angle-down nav__dropdown-trigger"></i>
					<ul class="nav__dropdown-menu nav__dropdown-menu--right">
					  <li><a href="shortcodes.html">Shortcodes</a></li>
					  <li><a href="typography.html">Typography</a></li>
					</ul>
				  </li>


				  <!-- Search -->
				  <li class="hidden-sm hidden-xs">
					<div class="nav__search hidden-sm hidden-xs">
					  <span class="nav__search-trigger" id="nav__search-trigger">
						<i class="fa fa-search"></i>
					  </span>
					</div>
				  </li>

				  <!-- Mobile Search -->
				  <li class="hidden-lg hidden-md">
					<form method="get" class="nav__search-mobile">
					  <input type="search" placeholder="Search..." class="nav__search-mobile-input">
					  <button type="submit" class="nav__search-mobile-button">
						<i class="fa fa-search"></i>
					  </button>
					</form>
				  </li>
					
				</ul> <!-- end menu -->
				
			  </nav> <!-- end nav-wrap -->         
				
				
				<div class="mini-cart-header col-md-1">
					<div class="mini-cart">
						<img class="" src="{{ asset('bundles/design') }}/images/cart.png">
						{% if app.session.get('user_id') is defined and app.session.get('user_id') is not empty %}
							<div id="cart-items"></div>
						{% endif %}
					</div>
				</div>
				
				<div id="mini-cart-product-text" class="mini-cart-product" style="display:none;">
					<h3 id="minicart-productname">Grace E-Veg was added to your shopping cart</h3>
				</div>
				
				{% if app.session.get('user_id') is defined and app.session.get('user_id') is not empty %}
					<div class="login-header col-md-2 fillPadd">
						<div class="login">
							<div class="toggle-dropdown col-md-8 text-right fillPadd-usertext fillPadd">
									<span class="user-fname"> {{ app.session.get('firstname') }} </span>
									<span class="header-logout">
										<a href="{{ path('site_default_logout') }}">Logout</a>
									</span>
									<!-- <span class="user-lname"> {{ app.session.get('lastname') }} </span> -->
								</div>
								<div class="col-md-4 fillPadd">
									<img class="user-img" src="{{ app.session.get('user_profile') }}">
								</div>
							</div>
						</div>
					</div>
				{% else %}
					<div class="login-header col-md-1 fillPadd">
						<div class="login">
							<a href="{{ path('site_default_login') }}">
								<span class="login-text">Login</span>
							</a>
						</div>
					</div>
				{% endif %}
				
			</div> <!-- end flex-parent -->
		  </div> <!-- end container -->

		</div>
	</header> <!-- end navigation -->
	{% block content %}{% endblock %}
	
	<!-- Footer -->
    <footer class="footer">
      <div class="container">
        <div class="footer__widgets">
          <div class="row">

            <div class="col-md-4">
              <div class="widget widget__get-in-touch">
                <h5 class="widget__title nocaps">Get in Touch</h5>
                <p class="widget__get-in-touch__paragraph">Phone: + 1 888 1554 456 123</p>
                <p class="widget__get-in-touch__paragraph">Email: <a href="mailto:cannasupport@gmail.com">cannasupport@gmail.com</a></p>
                <p class="widget__get-in-touch__paragraph">Fax: +63 918 4084 694</p>
              </div>
            </div> <!-- end stay in touch -->

            <div class="col-md-4">
              <div class="widget widget__footer-logo text-center local-scroll">
                <a href="#home" class="widget__footer-logo__link">
                  <img src="{{asset('bundles/design/')}}images/logo_dark.png" alt="">
                </a>
                <p class="mb-0">Canna Onepage is a very slick and clean template. Creating an awesome website with this Theme is easy than you can imagine.</p>
              </div>
            </div>

            <div class="col-md-4">
              <div class="widget footer-address-widget text-right">
                <h5 class="widget__title nocaps">Location</h5>
                <p class="footer-address">Canna inc.<br>Philippines, Talay st. 65,<br>PO Box 6200</p>
              </div>
            </div> <!-- end address -->

          </div>
        </div>
      </div>

      <div class="footer-bottom">
        <div class="container">
          <div class="row">

            <div class="col-sm-6 col-xs-12">
              <span class="copyright">
                &copy; 2017 Canna Theme  |  Made by <a href="https://deothemes.com">DeoThemes</a>
              </span>
            </div>
              
            <div class="col-sm-4 col-sm-offset-2 col-xs-12 clearfix">
              <div class="socials socials--nobase footer__socials clearfix right">
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-facebook"></i></a>                  
                <a href="#"><i class="fa fa-google-plus"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
                <a href="#"><i class="fa fa-vimeo"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
              </div>
            </div>

          </div>
        </div>
      </div> <!-- end bottom footer -->
    </footer> <!-- end footer -->
	
	</body>
	{% block javascript %}{% endblock %}
	<script>
		$(document).ready(function(){
			$('.toggle-dropdown').click(function(){
				if($('.my-account').css('display') == 'none'){
					$('.my-account').css('display','block');
				} else {
					$('.my-account').css('display','none');
				}
			});
		});
	</script>
	<!-- jQuery Scripts -->
  <script type="text/javascript" src="{{asset('bundles/design/')}}js/bootstrap.min.js"></script>
  <script type="text/javascript" src="{{asset('bundles/design/')}}js/plugins.js"></script>
  <script type="text/javascript" src="{{asset('bundles/design/')}}revolution/js/jquery.themepunch.tools.min.js"></script>
  <script type="text/javascript" src="{{asset('bundles/design/')}}revolution/js/jquery.themepunch.revolution.min.js"></script>
  <script type="text/javascript" src="{{asset('bundles/design/')}}js/rev-slider.js"></script>
  <script type="text/javascript" src="{{asset('bundles/design/')}}js/scripts.js"></script>

  <!-- Rev Slider Offline Scripts -->
  <script type="text/javascript" src="{{asset('bundles/design/')}}revolution/js/extensions/revolution.extension.video.min.js"></script>
  <script type="text/javascript" src="{{asset('bundles/design/')}}revolution/js/extensions/revolution.extension.carousel.min.js"></script>
  <script type="text/javascript" src="{{asset('bundles/design/')}}revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
  <script type="text/javascript" src="{{asset('bundles/design/')}}revolution/js/extensions/revolution.extension.actions.min.js"></script>
  <script type="text/javascript" src="{{asset('bundles/design/')}}revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
  <script type="text/javascript" src="{{asset('bundles/design/')}}revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
  <script type="text/javascript" src="{{asset('bundles/design/')}}revolution/js/extensions/revolution.extension.navigation.min.js"></script>
  <script type="text/javascript" src="{{asset('bundles/design/')}}revolution/js/extensions/revolution.extension.migration.min.js"></script>
  <script type="text/javascript" src="{{asset('bundles/design/')}}revolution/js/extensions/revolution.extension.parallax.min.js"></script> 
  
	<!-- react -->
	<script src="https://unpkg.com/react@16/umd/react.development.js"></script>
	<script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
	<script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>
  
  <script type="text/javascript" src="{{asset('bundles/design/')}}js/React.js"></script>
  <script type="text/javascript" src="{{asset('bundles/design/')}}js/custom.js"></script>
  
  <script type="text/babel">
		  class MyComponent extends React.Component {
			constructor(props) {
			super(props);
			this.state = {
				data: []
			};
		  }

		  componentDidMount() {
			fetch("http://www.aid.com/getMiniCartCount/" + JSON.stringify({'user_id' : 168}))
			  .then(res => res.json())
			  .then(
				(result) => {
				  this.setState({
					isLoaded: true,
					data: result
				  });
				}
			  )
		  }

		  render() {
			const { error, isLoaded, data } = this.state;
			return (
				<div className="cart-item-count">
				  {data.map(item => (
					<span key={item.item_count} className="data-count" data-count="{item.item_count}">{item.item_count}</span>
				  ))}
				</div>
			);
		  }
		}

			ReactDOM.render(
			  <MyComponent />,
			  document.getElementById('cart-items')
			);
		</script>
</html>